:root {
  --themecolor1: darkmagenta;
  --themecolor2: royalblue;
}

body {
  font-family:'Segoe UI', 'sans-serif';
  margin: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: var(--themecolor1);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

footer {
  background: #eee;
  color: var(--themecolor1);
  min-height: 50px;
  text-align: center;
  align-content: center;
}

nav {
  background: var(--themecolor2);
  text-align: right;
}

.nav-link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.nav-link:active {
  color: var(--themecolor1);
}

main {
  flex: 1
}

/* SECTION*/
.Projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1%; 
  justify-content: center;
}

.project-tile {
  width: clamp(250px, 20vw, 800px);
  aspect-ratio: 1.618 / 1;
  max-width: 500px;
  padding: 1%;
  margin: 1%;
  border: 2px solid #eee;
  box-shadow: 10px 10px 30px rgba(0,0,0,.2);
  border-radius: 10px;
}

.project-tile:hover {
  color: var(--themecolor2);
}

/* SECTION*/
.About {
  background-color: rgb(180, 174, 174);
  display: none;
}
