body {
  font-family:'Segoe UI', 'sans-serif';
  margin: 0%;
}

:root {
  --themecolor1: darkmagenta;
  --themecolor2: royalblue;
}

header {
  height: var(--header-height);
  background: var(--themecolor1);
  color: white;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer {
  height: var(--footer);
  background: #eee;
  color: var(--themecolor1);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background: var(--themecolor2);
  display: flex;
  justify-content: right;
}

.nav-link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin: min(10px, 10vw);
}

.nav-link:active {
  color: var(--themecolor1);
}

.tile {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 300px;
  max-height: 200px;
  padding: 10px;
  margin: 5px;
}

.tile:hover {
    color: var(--themecolor2);
}

main {
  height: var(--main-height);
  display: flex;
  flex-direction: row;
}

.tile-section {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
