:root {
  --themecolor1: #15183b;
  --themecolor2: #5b5bda;
}
/*https://www.figma.com/color-wheel/*/

body {
  font-family:'Segoe UI', 'sans-serif';
  margin: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: var(--themecolor1);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px
}

footer {
  background: #eee;
  color: var(--themecolor1);
  min-height: 50px;
  text-align: center;
  align-content: center;
}

nav {
  background: var(--themecolor2);
  text-align: right;
  padding: 5px
}

.nav-button {
  font-size: 1rem;
  color: white;
  background: var(--themecolor2);
  border-style: none;
  text-decoration: none;
}

.nav-button:hover, .nav-button.active {
  color: var(--themecolor1);
}

.nav-button:active {
  color: var(--themecolor2);
}

main {
  flex: 1
}

/* SECTION*/
#Projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1%; 
  justify-content: center;
}

.project-tile {
  width: clamp(250px, 20vw, 800px);
  aspect-ratio: 1.618 / 1;
  max-width: 500px;
  margin: 1%;
  border: 2px solid #eee;
  box-shadow: 10px 10px 30px rgba(0,0,0,.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  align-content: end;
  background-size: cover;
}

.project-tile:hover {
  filter: brightness(0.75)
}

#project-001 {
  background-image: url(assets/test_image.jpg);
}

#project-002 {
  background-image: url(assets/placeholder_img.svg);
}

.project-title {
  color: var(--themecolor1);
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.project-subtitle {
  color: var(--themecolor1);
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255, 0.75);
}

/* SECTION*/
#About {
  background-color: rgb(180, 174, 174);
}

#Experiments {
   background-color: rgb(127, 109, 109);
}

#Contact {
  background-color: rgb(223, 136, 136);
}
